---
import Card from "./Card.astro";
import background1 from "../../../images/services/service-1.jpg";
import background2 from "../../../images/services/service-2.jpg";
import background3 from "../../../images/services/service-3.jpg";
import background4 from "../../../images/services/service-4.jpg";
import background5 from "../../../images/services/service-5.jpg";
import background6 from "../../../images/services/service-6.jpg";
import ArrowLeft from "../../sources/ArrowLeft.astro";
import ArrowRight from "../../sources/ArrowRight.astro";
---

<script>
  const reviewsSlider = document.querySelector<HTMLElement>(".services");
  const reviewBtns = document.querySelectorAll<HTMLElement>(".service-btn");
  const reviews = [...document.querySelectorAll<HTMLElement>(".service-card")];
  const sizeWindows = window.innerWidth;
  console.log('sizeWindows', sizeWindows);
  let isMoving = false;
  let currentIndex = sizeWindows >= 1136 ? 3 : sizeWindows >= 816 ? 2 : 1;

  function moveSlider() {
    if (reviewsSlider) {
      if (sizeWindows >= 816){
      reviewsSlider.style.transform = `translateX(-${currentIndex * 330}px)`;
      } else {
        reviewsSlider.style.transform = `translateX(-${currentIndex * 100}%)`;
      }
    }
  }

  function handleReviewBtnClick(e: any) {
    console.log("currentIndex", currentIndex);
    if (isMoving) {
      return;
    }
    isMoving = true;

    if (e.currentTarget.id === "next") {
      currentIndex += 1;
    } else {
      currentIndex -= 1;
    }

    moveSlider();
  }

  reviewBtns.forEach((btn) => {
    btn.addEventListener("click", handleReviewBtnClick);
  });

  if (reviewsSlider) {
    reviewsSlider.addEventListener("transitionend", () => {
      isMoving = false;
      if (currentIndex === 0) {
        currentIndex = reviews.length - 2;
        reviewsSlider.style.transitionDuration = "1ms";
        return moveSlider();
      }
      if (currentIndex === reviews.length - 1) {
        currentIndex = 1;
        reviewsSlider.style.transitionDuration = "1ms";
        return moveSlider();
      }
      reviewsSlider.style.transitionDuration = "300ms";
    });
  }
</script>

<div class="services-wrapper">
  <button
    class="service-btn service-btn--prev"
    id="prev"
    aria-label="Previous Review"
  >
    <ArrowLeft size={35} color="#3fb44a" />
  </button>
  <div class="services">
    <Card cardIndex="6" src={background6} />
    <Card cardIndex="1" src={background1} />
    <Card cardIndex="2" src={background2} />
    <Card cardIndex="3" src={background3} />
    <Card cardIndex="4" src={background4} />
    <Card cardIndex="5" src={background5} />
    <Card cardIndex="6" src={background6} />
    <Card cardIndex="1" src={background1} />
  </div>
  <button
    class="service-btn service-btn--next"
    id="next"
    aria-label="Next Review"
  >
    <ArrowRight size={35} color="#3fb44a" />
  </button>
</div>

<style>
  .services-wrapper {
    overflow: hidden;
    max-width: 400px;
    width: 100%;
    display: flex;
    position: relative;
  }

  .services {
    display: flex;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 300ms ease-in-out;
    height: 460px;
  }

  .service-btn {
    z-index: 10;
    background: #eee;
    border: none;
  }

  .service-btn--prev {
    padding-right: 5px;
  }

  .service-btn--next {
    padding-left: 5px;
  }

  @media (min-width: 816px) {
    .services-wrapper {
      max-width: 760px;
    }

    .service-btn--prev {
    padding-right: 15px;
  }

  .service-btn--next {
    padding-left: 15px;
  }
  }

  @media (min-width: 1136px) {
    .services-wrapper {
      max-width: 1090px;
    }
  }
</style>
