---
import { Image } from "astro:assets";
import bird from "../../../images/gallery_bird.jpg";
import orquide from "../../../images/gallery_orquide.jpg";
import ebird from "../../../images/ebird.jpg";
import arrowRight from "../../../images/arrow_right.svg";

import { getLangFromUrl, useTranslations, useTranslatedPath } from "../../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);

const TITLE_TEXT = t(`home.gallery.title`);
const TITLE_BIRDS_TEXT = t(`home.gallery.birds.title`);
const DESCRIPTION_BIRDS_TEXT = t(`home.gallery.birds.description`);
const BUTTON_BIRDS_TEXT = t(`home.gallery.birds.button`);
const TITLE_ORCHIDS_TEXT = t(`home.gallery.orchids.title`);
const DESCRIPTION_ORCHIDS_TEXT = t(`home.gallery.orchids.description`);
const BUTTON_ORCHIDS_TEXT = t(`home.gallery.orchids.button`);
---

<section class="gallery-ctn" id="gallery">
	<h2 class="gallery-title">{TITLE_TEXT}</h2>

	<div class="flex max-w-[956px] flex-col gap-8 lg:flex-row">
		<div class="gallery-card">
			<Image
				class="gallery-card-img"
				src={orquide}
				alt="orquide gallery"
				transition:name="gallery-orquide"
				width="460"
				height="245"
			/>
			<div class="gallery-card-info">
				<h3 class="gallery-card-info-title">{TITLE_ORCHIDS_TEXT}</h3>
				<p class="gallery-card-info-desc">
					{DESCRIPTION_BIRDS_TEXT}
				</p>
				<a class="gallery-button" href={translatePath("/orquideas")}
					>{BUTTON_ORCHIDS_TEXT}
					<Image class="gallery-button-icon" src={arrowRight} alt="arrow right" /></a
				>
			</div>
		</div>
		<div class="gallery-card">
			<div class="gallery-card-info">
				<h3 class="gallery-card-info-title">{TITLE_BIRDS_TEXT}</h3>
				<p class="gallery-card-info-desc">
					{DESCRIPTION_ORCHIDS_TEXT}
				</p>
				<a class="gallery-button" href={translatePath("/aves/")}
					>{BUTTON_BIRDS_TEXT}
					<Image class="gallery-button-icon" src={arrowRight} alt="arrow right" />
				</a>
				<a class="gallery-button-ebird" href="https://ebird.org/home" target="_blank">
					<Image class="gallery-button-img" src={ebird} alt="ebird" transition:name="gallery-bird" />
				</a>
			</div>
			<Image class="gallery-card-img" src={bird} alt="bird gallery" width="460" height="245" />
		</div>
	</div>
</section>

<style>
	.gallery-ctn {
		display: flex;
		flex-direction: column;
		background-color: #37a342;
		row-gap: 24px;
		padding: 0 36px;
		align-items: center;
		margin-top: 75px;
		padding-bottom: 75px;
	}

	.gallery-title {
		color: #f8fafc;
		font-size: 3rem;
		text-align: center;
		text-shadow: 1px 2px #3a3a3a;
	}

	.gallery-card {
		/* height: 430px; */
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		border-radius: 1em;
		overflow: hidden;
		-webkit-box-shadow: 10px 10px 30px -7px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 10px 10px 30px -7px rgba(0, 0, 0, 0.5);
		box-shadow: 10px 10px 30px -7px rgba(0, 0, 0, 0.5);
		border: 1px solid #41632a;
		max-width: 420px;
	}

	.gallery-card-info {
		background-color: white;
		padding: 1.25em 1.8em;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.gallery-card-info-title {
		font-size: 1.5rem;
		text-align: center;
	}

	.gallery-card-info-desc {
		font-size: 1.1rem;
		line-height: 125%;
	}

	.gallery-button,
	.gallery-button:visited,
	.gallery-button:link {
		align-items: center;
		background: rgb(77, 31, 29);
		background: linear-gradient(145deg, rgba(77, 31, 29, 1) 0%, rgba(97, 47, 45, 1) 100%);
		border-radius: 0.625em;
		color: #eee;
		display: inline-flex;
		font-size: 0.9rem;
		justify-content: center;
		margin-top: 8px;
		margin: 0 auto;
		padding: 0.5em 0.75em;
		text-align: center;
		text-decoration: none;
		width: max-content;
	}

	.gallery-button-icon {
		margin-left: 4px;
	}

	.gallery-button-ebird,
	.gallery-button-ebird:visited,
	.gallery-button-ebird:link {
		font-size: 1.5rem;
		text-decoration: none;
		color: #eee;
		border: 1px solid #4d1f1d;
		border-radius: 0.6em;
		display: flex;
		justify-content: center;
		align-items: center;
		width: max-content;
		margin: 0 auto;
	}

	.gallery-button-img {
		object-fit: contain;
		width: auto;
		height: 40px;
	}

	.gallery-card-img {
		height: 245px;
		width: 100%;
		object-fit: cover;
		overflow: hidden;
	}

	@media (min-width: 768px) {
		.gallery-ctn {
			flex-direction: row;
			flex-wrap: wrap;
			align-items: stretch;
			gap: 20px;
			justify-content: center;
			/* max-width: 956px; */
		}

		.gallery-card {
			flex: 1;
			max-width: 100%;
		}

		.gallery-title {
			flex-grow: 1;
			flex-basis: 100%;
		}

		.gallery-card-info {
			flex-grow: 1;
		}
	}
</style>
