---
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const TEXT_INPUT_NAME = t("home.rooms.form.names");
const TEXT_INPUT_LASTNAME = t("home.rooms.form.lastnames");
const TEXT_INPUT_EMAIL = t("home.rooms.form.email");
const TEXT_INPUT_CEL = t("home.rooms.form.cel");
const TEXT_INPUT_DATE = t("home.rooms.form.date");
const TEXT_INPUT_COMMENT = t("home.rooms.form.comment");
const TEXT_INPUT_BUTTON = t("home.rooms.form.button");
---

<form
	class="box-border flex h-full w-full flex-col gap-y-2 bg-[#b5483f] p-4"
	action="https://formsubmit.co/7d075a688dbc0d0824053444ac34a746"
	method="POST"
>
	<input type="text" name="_honey" id="" style="display: none;" />
	<input type="hidden" name="_captcha" value="false" />
	<input type="hidden" name="_template" value="table" />
	<input type="hidden" name="_next" value={`https://waqankiecolodge.com/${lang === "en" ? "en/" : ""}message`} />
	<input
		class="h-7 rounded-md border border-[#4d1f1d] px-4 py-2"
		type="text"
		placeholder={TEXT_INPUT_NAME}
		required
		minlength="4"
		maxlength="20"
		name="nombres"
	/>
	<input
		class="h-7 rounded-md border border-[#4d1f1d] px-4 py-2"
		type="text"
		placeholder={TEXT_INPUT_LASTNAME}
		required
		minlength="4"
		maxlength="20"
		name="apellido"
	/>
	<input
		class="h-7 rounded-md border border-[#4d1f1d] px-4 py-2"
		type="email"
		placeholder={TEXT_INPUT_EMAIL}
		required
		minlength="7"
		maxlength="50"
		name="email"
	/>
	<input
		class="h-7 rounded-md border border-[#4d1f1d] px-4 py-2"
		type="tel"
		placeholder={TEXT_INPUT_CEL}
		required
		minlength="6"
		maxlength="20"
		name="telefono"
	/>
	<input
		class="h-7 rounded-md border border-[#4d1f1d] px-4 py-2"
		onblur="(this.type='text')"
		onfocus="(this.type='date')"
		placeholder={TEXT_INPUT_DATE}
		type="text"
		name="fecha"
	/>
	<textarea class="rounded-md border border-[#4d1f1d] px-4 py-2" placeholder={TEXT_INPUT_COMMENT} name="comentario"
	></textarea>
	<button
		class="mt-[0.45em] cursor-pointer select-none rounded-[1em] border border-solid border-[#4c201f] bg-[#4d1f1d] px-[0.45em] py-[0.3em] text-base font-semibold text-slate-50 no-underline [-webkit-user-select:none]"
		type="submit">{TEXT_INPUT_BUTTON}</button
	>
</form>
