---
import { Image } from "astro:assets";
import logo from "../../images/logo_white.png";
import Eeuu from "../sources/Eeuu.astro";
import Spain from "../sources/Spain.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);

const HOME = t("nav.home");
const SERVICES = t("nav.services");
const BOOKINGS = t("nav.bookings");
const GALLERY = t("nav.gallery");
---

<script>
	document.addEventListener(
		"astro:page-load",
		() => {
			const hamburgerCheckbox = document.getElementById("hamburger") as HTMLInputElement;
			const menuLinks = document.querySelectorAll("a");

			menuLinks.forEach((link) => {
				link.addEventListener("click", () => {
					hamburgerCheckbox.checked = false;
				});
			});
		},
		{ once: false }
	);
</script>

<nav
	class="nav-ctn fixed z-50 box-border grid w-full grid-cols-2 items-center justify-between overflow-hidden bg-black/80 px-3 py-2 lg:flex lg:px-6 lg:py-2"
>
	<a class="col-span-1" href="/">
		<Image class="h-full max-w-[130px] px-[5px]" src={logo} alt="Logo Waqanki" />
	</a>

	<input type="checkbox" name="hamburger" id="hamburger" class="peer hidden" />
	<label
		for="hamburger"
		class="nav-burger col-span-1 h-[30px] w-[30px] justify-self-end bg-center bg-no-repeat align-middle lg:hidden"
	>
		<svg class="block h-full w-full fill-slate-50" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
			<title>Mobile menu</title>
			<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
		</svg>
	</label>

	<div
		class="col-span-2 flex max-h-0 w-full flex-col items-center justify-center gap-4 overflow-hidden text-base text-slate-50 peer-checked:max-h-[1000px] lg:max-h-full lg:flex-auto lg:flex-row lg:justify-end"
	>
		<a
			class="bg-transparent text-inherit no-underline outline-none lg:hover:font-extrabold"
			href={translatePath("/#header")}>{HOME}</a
		>
		<a
			class="bg-transparent text-inherit no-underline outline-none lg:hover:font-extrabold"
			href={translatePath("/#services")}>{SERVICES}</a
		>
		<a
			class="bg-transparent text-inherit no-underline outline-none lg:hover:font-extrabold"
			href={translatePath("/#multimedia")}>Multimedia</a
		>
		<a
			class="bg-transparent text-inherit no-underline outline-none lg:hover:font-extrabold"
			href={translatePath("/#reserves")}>{BOOKINGS}</a
		>
		<a
			class="bg-transparent text-inherit no-underline outline-none lg:hover:font-extrabold"
			href={translatePath("/#gallery")}>{GALLERY}</a
		>
		<a
			class="bg-transparent text-inherit no-underline outline-none lg:hover:font-extrabold"
			href={translatePath("/#tours")}>Tours</a
		>
		<div class="ml-4 flex items-center gap-2">
			{lang === "es" ? <Spain /> : <Eeuu />}
			<a class=`${lang === "es" ? 'font-extrabold' : ''}` href="/">Español</a>
			<a class=`${lang === "en" ? 'font-extrabold' : ''}` href="/en/">English</a>
		</div>
	</div>
</nav>
