---
import { Image } from "astro:assets";
import Layout from "../../../layouts/Layout.astro";
import image from "../../../images/tour_main.jpg";
import CardItinerary from "../../../components/tour/CardItinerary.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const arrayItinerary = new Array(16).fill("");
const DAY = t(`tours.day`);
const TITLE = t(`tours.main.title`);
//@ts-ignore
const getInfo = (index) => t(`tours.main.info-${index}`);
//@ts-ignore
const getUbi = (index) => t(`tours.main.ubication-${index}`);
const getDay = (index) => index === 0 ? 'Arriveing Day' : `${DAY} ${index}`
---

<Layout title="Tour Northen Perú" textColor="text-slate-50">
	<div class="w-full bg-slate-50 pb-16 pt-24">
		<div class="flex w-full">
			<div class="w-full px-6 md:mx-auto md:max-w-[956px]">
				<div class="relative float-left mb-3 md:mb-0">
					<Image
						class="h-full w-full rounded-md object-cover shadow-lg brightness-50 md:mr-4 md:min-w-[500px] md:max-w-[500px]"
						src={image}
						alt="Tour main"
						transition:name="tour-main"
					/>

					<h1
						class="absolute left-1/2 top-1/2 z-10 -translate-x-1/2 -translate-y-1/2 text-center text-3xl text-slate-50 md:text-5xl"
					>
						Northen Perú
					</h1>
				</div>

				<p class="whitespace-pre-line text-lg leading-relaxed text-neutral-900 md:px-0 md:text-xl">
					{TITLE}
				</p>
			</div>
		</div>

		<div class="d-flex justify-content-center align-items-center flex-column mx-auto mt-10 w-5/6 md:w-2/4">
			<ul
				aria-label="Colored activity feed"
				role="feed"
				class="relative flex flex-col gap-8 pl-6 before:absolute before:left-6 before:top-0 before:h-full before:-translate-x-1/2 before:border before:border-slate-200 after:absolute after:bottom-6 after:left-6 after:top-6 after:-translate-x-1/2 after:border after:border-slate-200"
			>
				{
					arrayItinerary.map((_, index) => (
						<CardItinerary title={getDay(index)} info={getInfo(index)} ubication={getUbi(index)} />
					))
				}
			</ul>
		</div>
	</div>
</Layout>
